<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Observation Detail</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/js/observationHandler.js" type="module" defer></script>
    </head>
    <body>
        <main>
            <div id="observationId" hidden><%= observation.id %></div>
            <!-- TODO: nowrap on span -->
            <h1><span id="plantName"><%= observation.name %></span></h1>
            <button id="nameBtn" type="button" hidden>Change name</button>
            <div class="observation-details">
                <img src="/<%= observation.image %>" alt="Observation Image" style="max-width: 400px">
                <p><strong>Nickname:</strong> <span id="nickname"><%= observation.nickname %></span></p>
                <p><strong>Status:</strong> <%= observation.status %></p>
                <p><strong>Date Seen:</strong> <%= observation.dateSeen.toDateString() %></p>
                <p><strong>Description:</strong> <%= observation.description %></p>
                <p><strong>Location:</strong> Latitude <%= observation.location.latitude %>, Longitude <%= observation.location.longitude %></p>
                <p><strong>Colour:</strong> <%= observation.colour %></p>
                <p><strong>Height:</strong> <%= observation.height %></p>
                <p><strong>Spread:</strong> <%= observation.spread %></p>
                <p><strong>Sunlight:</strong> <%= observation.sunlight %></p>
                <p><strong>Soil Type:</strong> <%= observation.soilType %></p>
                <p><strong>Flowering:</strong> <%= observation.flowering ? 'Yes' : 'No' %></p>
                <p><strong>Leafy:</strong> <%= observation.leafy ? 'Yes' : 'No' %></p>
                <p><strong>Fragrant:</strong> <%= observation.fragrant ? 'Yes' : 'No' %></p>
                <p><strong>Fruiting:</strong> <%= observation.fruiting ? 'Yes' : 'No' %></p>
                <p><strong>Native:</strong> <%= observation.native ? 'Yes' : 'No' %></p>
            </div>

            <div id="dbpedia" hidden>
                <h1>DBPedia Entry</h1>
                <hr>
                <h2 id="dbpCommonName"></h2>
                <h2 id="dbpScientificName"></h2>
                <p id="dbpDescription"></p>
                <a id="dbpURI"></a>
            </div>
        </main>
    </body>
</html>
